<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <security>
            <!--Unlisted IP addresses are denied access-->
            <ipSecurity allowUnlisted=”false”>
              <!--The following IP addresses are granted access-->
              <add allowed=”true” ipAddress=”50.47.5.209” subnetMask=”255.255.255.0″ />
            </ipSecurity>
        </security>
    </system.webServer>
</configuration>
